.loader {
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #3498db;
    width: 10px;
    height: 10px;
    min-height: 10px !important;
    min-width: 10px !important;
    margin: 0;
    padding: 0 !important;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

input:invalid {
    border: 1px solid red;
}

button.red {
    background-color: red;
}

.logo {
    border:0;
    height:36px;
}