<head>
    <meta charset="utf-8" />
    <title>My Property Inspector</title>
    <link rel="stylesheet" href="sdpi.css">
    <link rel="stylesheet" href="custom.css">
    <link rel="stylesheet" href="fa-all.min.css">
    <script type="text/javascript" src="utils.js"></script>
</head>

<body>
<div class="sdpi-wrapper" id="global-wrapper">
    <details class="message caution">
        <summary>This is for debug usage only.  This action shouldn't be used unless you've been told to use it.</summary>
    </details>
    <div class="sdpi-item">
        <div class="sdpi-item-value empty"></div>
        <button onclick="launchGlobalSettings()"><i class="fas fa-cog"></i> Global Settings</button>
    </div>
</div>
<script>
    function connectElgatoStreamDeckSocket(inPort, inUUID, inRegisterEvent, inInfo, inActionInfo) {
        uuid = inUUID;
        // please note: the incoming arguments are of type STRING, so
        // in case of the inActionInfo, we must parse it into JSON first
        actionInfo = JSON.parse(inActionInfo); // cache the info
        websocket = new WebSocket('ws://localhost:' + inPort);

        // if connection was established, the websocket sends
        // an 'onopen' event, where we need to register our PI
        websocket.onopen = function () {
            const json = {
                event:  inRegisterEvent,
                uuid:   inUUID
            };
            // register property inspector to Stream Deck
            websocket.send(JSON.stringify(json));
        }
        websocket.onmessage = function (event) {
            const jsonObj = JSON.parse(event.data);
            const sdEvent = jsonObj.event;

            if (sdEvent === "didReceiveGlobalSettings") {
                if (gsWindow) {
                    gsWindow.setGlobalSettingsUI(jsonObj);
                }
            }
        }
    }
</script>
</body>