<head>
    <meta charset="utf-8" />
    <title>My Property Inspector</title>
    <link rel="stylesheet" href="sdpi.css">
    <link rel="stylesheet" href="custom.css">
    <link rel="stylesheet" href="fa-all.min.css">
    <script type="text/javascript" src="utils.js"></script>
</head>

<body>
<div class="sdpi-wrapper" id="global-wrapper">
    <div class="sdpi-heading">
        <summary>LIFX Controls Global Settings</summary>
    </div>
    <div class="sdpi-item">
        <div class="sdpi-item-label empty"></div>
        <div class="loader"></div>
    </div>
    <div class="sdpi-item">
        <div class="sdpi-item-label">Outbound IP</div>
        <input class="sdpi-item-value" id="outIP" pattern="^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$" />
        <div style="display: flex; align-items: center; flex-basis: 100%;"><a href="#" onclick="opener.sendValueToPlugin({'type': 'gSettingsHelp'})" style="color: #9a9a9a;"><i class="fa fa-question"></i></a></div>
    </div>
    <div class="sdpi-item">
        <div class="sdpi-item-label">Direct Communication</div>
        <input id="directCommunication" type="checkbox" />
        <label for="directCommunication"><span></span></label>
        <div style="display: flex; align-items: center; flex-basis: 100%;"><a href="#" onclick="opener.sendValueToPlugin({'type': 'gSettingsHelp'})" style="color: #9a9a9a;"><i class="fa fa-question"></i></a></div>
    </div>
    <div class="sdpi-heading">
        <summary>Custom Devices</summary>
    </div>
    <div class="sdpi-item-group" id="deviceContainer">

    </div>
    <div class="sdpi-item">
        <div class="sdpi-item-label empty"></div>
        <button class="sdpi-item-value" id="submit" onclick="onSubmit()">Submit</button>
        <button class="sdpi-item-value red" id="reset" onclick="onReset()">Reset</button>
    </div>

    <div class="sdpi-heading">
        <summary>Links</summary>
    </div>
    <div>
        <div style="display: flex; justify-content: center; flex-basis: 100%;">
            <a href="#" onclick="opener.sendValueToPlugin({'type': 'kofi'})"><img class="logo" src="Kofi-Logo.png" border="0" alt="Buy Me a Coffee at ko-fi.com"/></a>
            <a href="#" onclick="opener.sendValueToPlugin({'type': 'discord'})"><img src="Discord-Logo.png" class="logo" alt="wwsean08's Discord Server"></a>
            <a href="#" onclick="opener.sendValueToPlugin({'type': 'twitch'})"><img src="Twitch-Logo.png" class="logo" alt="wwsean08's Twitch Page"></a>
        </div>
    </div>
</div>
<script>
    function delDevice(item) {
        let val = item.parentElement.parentElement;
        val.remove()
    }

    function addDevice(value) {
        let newDeviceContainer = document.createElement("div")
        newDeviceContainer.setAttribute("class", "sdpi-item")
        let newDevice = document.createElement("input");
        if (value !== undefined) {
            newDevice.value = value;
        }
        newDevice.setAttribute("class", "sdpi-item-value");
        newDevice.setAttribute("pattern", "^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$");
        newDeviceContainer.append(newDevice);
        let addDiv = document.createElement("div");
        addDiv.setAttribute("style", "display: flex; align-items: center; flex-basis: 100%;");
        addDiv.innerHTML = "<a href=\"#\" onclick=\"addDevice()\" style=\"color: #9a9a9a;\"><i class=\"fa fa-plus\"></i></a>";
        let delDiv = document.createElement("div");
        delDiv.setAttribute("style", "display: flex; align-items: center; flex-basis: 100%;");
        delDiv.innerHTML = "<a href=\"#\" onclick=\"delDevice(this)\" style=\"color: #FF0000;\"><i class=\"fa fa-minus\"></i></a>";
        newDeviceContainer.append(addDiv);
        newDeviceContainer.append(delDiv);
        devContainer.append(newDeviceContainer)
    }

    function setGlobalSettingsUI(settings) {
        loaders = document.getElementsByClassName("loader");
        for (let i = 0; i < loaders.length; i++) {
            loaders[i].remove();
        }
        outIP.value = settings.payload.settings.outIP;
        directComm.checked = settings.payload.settings.directComm;
        if (settings.payload.settings.customDevices && settings.payload.settings.customDevices.length === 0) {
            addDevice()
        } else {
            settings.payload.settings.customDevices.forEach(function (item) {
                addDevice(item)
            })
        }
    }

    function onSubmit() {
        if (!outIP.checkValidity()) {
            alert("Outbound IP must be a valid IP v4 address");
            return
        }
        const outboundIP = outIP.value;
        const isDirect = directComm.checked;
        allDevices = getAllCustomDevices();
        const payload = {"version": 4, "outIP": outboundIP, "directComm": isDirect, "customDevices": allDevices};
        opener.UpdateGlobalSettings(payload);
    }

    function getAllCustomDevices() {
        let deviceIPs = []
        let inputs = devContainer.querySelectorAll("div.sdpi-item > input");
        inputs.forEach(function(item) {
            if (item.checkValidity() && item.value !== "" && !deviceIPs.includes(item.value)) {
                deviceIPs.push(item.value)
            }
        });
        return deviceIPs
    }

    function onReset() {
        outIP.value = "";
        directComm.checked = false;
    }

    const msg = {"event": "getGlobalSettings", "context": opener.getUUID()};
    opener.getWS().send(JSON.stringify(msg))
    const outIP = document.getElementById("outIP");
    const directComm = document.getElementById("directCommunication");
    const devContainer = document.getElementById("deviceContainer");
</script>
</body>